@import "tailwindcss";
/* styles/tailwind.css */
@import "./typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.typography {
    font-size: var(--text-base);
    color: var(--color-gray-700);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    position: relative;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav-list li {
    padding: 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

/* project page */
.info-title {

    font-size: 1.25rem;
    color: #718096;
    margin-bottom: 2px;

}

.info-content {
    font-size: 1rem;
    color: #2d3748;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-list.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}